/*
START GLOBALE CSS FUNKSJONER
 */
:root {
  --background-color: #f7f1e3;
  --nav-color: #132020;
  --element-background: #d1d1d1;
  --text-color: #000;
  --background-text-color: none;
  --secondary-teks-color: #f2f2f2;
  --secondary-background-color: #000000bf;
  --button-color: #e1c354;

  --font-size-large: 1.8em;
  --font-size: 1.2em;
  --font-size-small:1em;
  --font-size-xsmall:0.8em;
  --font-size-xxsmall:0.5em;
  --border-color: #000;
  --box-shadow: 0px 2px 4px rgba(10,10,80,0.5);

}

body {
  font-family: "Arial", "sans-serif", "Helvetica";
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
  margin: auto;
  font-size: var(--font-size);
  margin: 0px;
  top: 0px;
}
.index_body{
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

main > *{
  margin-top: 3%;
  margin-bottom: 3%;
}
main {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: auto;
  margin: 0 auto;
  width: 75%;
}


/*
SLUTT GLOBALE CSS FUNKSJONER
 */
/*
START INDEX
 */

.grid-container-hjem {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 20px;

}

.grid-container-hjem>div, .news-div, #news-container, .main_sponsor .spons-grid-one, .spons-grid-two>.spons, .element_om_oss, #kontakt-main > *, .spons_click{
  box-shadow: var(--box-shadow);
}
.grid-container-hjem>div, .news-div{
  background-color: var(--element-background);
  padding: 20px;
}

.pointer:hover{
  cursor: pointer;
}
.active:active{
  opacity: 0.7;
}
.grid-container-athletes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 5% 0;
}

.athlete {
  position: relative;
  width: 100%;
  background-color: var(--secondary-background-color);
  overflow: hidden;
  border-radius: 3px 3px 0 0;
}

.athlete img {
  /* vertical-align: middle; */
  width: 100%;
}

.athlete a {
  height: 100%;
}

.athlete .text {
  color: var(--secondary-teks-color);
  background-color: var(--secondary-background-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1ch 0;
}

.sponsor {
  margin: auto;
  width: 100%;
  height: 240px;
  border: 1px solid var(--border-color);
  padding-bottom: 5%;
  margin-bottom: 20px;
  background-color: white;
  text-align: center;
}

.sponsor>a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0;
}

.sponsor img {
  width: 90%;
}

.sponsor:last-child img {
  height: 15vh;
}

a>h5 {
  text-align: left;
  padding-left: 20px;
}

.stottespiller {
  margin: auto;
  width: 100%;
  height: 240px;
  border: 1px solid black;
  padding-bottom: 5%;
  margin-bottom: 20px;
  background-color: white;
  text-align: center;
}

.stottespiller>a {
  color: black;
  text-decoration: none;
  margin: 0;
}

/*Slideshow*/
.slideshow-container * {
  box-sizing: border-box;
}

.slides {
  /* for at siden skal lastes bedre/finere */
  display: none;
}

.slides>img {
  /* vertical-align: middle; */
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: var(--secondary-background-color);
  border-radius: 3px 3px 0 0;
  width: 100%;
  height: 300px;
}

/* Caption text */
.slides>.text {
  color: var(--secondary-teks-color);
  background-color: var(--secondary-background-color);
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.buttonsSlides {
  text-align: center;
}

.buttonsSlides * {
  padding: 0 2ch;
  font-weight: 900;
  border-radius: 10%;
  border-radius: 0 0 10px 10px;
  margin: 0 10%;
}

.buttonsSlides>*:hover {
  background-color: var(--button-color);
  color: var(--secondary-teks-color);
}

.athlete:hover .text {
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
}


/* Fading animation, denne funker ikke */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

/*
SLUTT INDEX*/
/*
START NAVBAR
 */
#navbar {
  display: flex;
  text-align: left;
  border-top: 1px solid;
  padding: 0.5% 0px;
  background-color: var(--nav-color);
  height: 12vh;
  font-size: var(--font-size-large);
  width: 100%;
  z-index: 9;
  top: 0;
  box-shadow: var(--box-shadow);

}

.navBarElement:not(:last-child)>a::before {
  /* hentet inspirasjon fra https://css-tricks.com/having-fun-with-link-hover-effects/ */
  /* funksjoner for å skalere elementer og overgangs tid*/
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.39s ease-in-out 0s;
  transition: all 0.28s ease-in-out 0s;
  /* styler tekst og endrer plasseing og bakgrunnsfarge*/
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-teks-color);
}

.navBarElement:not(:last-child)>a:hover::before {
  /* funksjoner for å skalere elementer*/
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -moz-transform: scale(1);
}


.navBarElement>a {
  position: relative;
}

.navBarElement {
  transition: 0.5s;
  height: 75px;
  padding-top: 20px;
  position: relative;
  width: 16.677%;
  text-align: center;
}
#navbar .navBarElement:last-child a{
  background-color: var(--button-color);
  padding:5px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px black;
  color: black;
}
.logo_nav {
  width: 15%;
  margin-left: 5%;
  padding: 0px;
}

.logo_nav>a>img {
  height: 100%;
  transition-duration: 0.5s;
}

.logo_nav>a>img:hover {
  transform: scale(1.3);
  transition-duration: 0.4s;
}


#submenu_1 {
  border-top: 10px solid darkblue;
}

#submenu_2 {
  border-left: 10px solid darkred;
}

#submenu_1,
#submenu_2 {
  z-index: 2;
  display: none;
}

.submenuElement_1 a,
.submenuElement_2 a {
  color: #ddcccc;

}

.submenu {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  text-align: center;
  background-color: #353131;
  font-size: var(--font-size-large);
  width: 20%;
  position: absolute;
  transition: 0.2s;
}

.submenuElement_1,
.submenuElement_2 {
  padding: 10px 3px 10px 3px;
}

.submenuElement_1>a,
.submenuElement_2>a {
  display: block;
  width: 100%;
}

.submenuElement_1:hover,
.submenuElement_2:hover {
  background-color: darkgray;
}

#utoverElement:hover {
  text-decoration: none;
}

.underline {
  width: 60%;
  margin-top: 0px;
  margin-bottom: 2px;
  border-color: #ddcccc;
}

.submenuElement_1 a,
.submenuElement_2 a {
  text-decoration: none;
}

#navbar a {
  text-decoration: none;
  color: white;
}


/*
SLUTT NAVBAR
 */
/*
START OM OSS
*/
/*css for hele delen over søkemotoren av header når den er større enn 600px starter under her*/
.header_overst {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.knapp_header{
  margin-top: 10vh;
}

.knapp_header>a {
  color: rgb(241, 215, 95);
  font-size: var(--font-size-large);
  border-style: solid;
  color: rgb(241, 215, 95);
  border-width: 5px;
  padding: 12px 28px;
  text-decoration: none;
}

.knapp_header>a:hover {
  transition: all 0.4s ease-in-out;
  border-color: #022c70;
}

.logo {
  padding-top: 0;
  text-align: center;
  margin-top: 0px;
  padding-left: 30px;
}

.header_over_om_oss {
  text-align: center;
  width: 20%;
  margin: auto;
  margin-top: 2%;
  color: rgb(241, 215, 95);
  padding: 10px;
  font-size: var(--font-size-large);
}

.logo>img {
  width: 30%;
  transition-duration: 0.5s;
}

.hele_folg_oss {
  position: relative;
  display: flex;
  padding-top: 20px;
  float: right;
  margin-right: 15px;
}

.folg_oss {
  font-size: var(--font-size);
  color: white;
  font-family: fantasy;
}

.fa {
  width: 30px;
  text-decoration: none;
  margin: auto;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.5;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  color: white;
}

.logo>img:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition-duration: 0.5s;
}

#bilder_team>div {
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 0.4s;
}

#bilder_team>div:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transition-duration: 0.5s;
}

#header_om_oss {
  background-image: url(pictures/om6.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  position: relative;
}

/* Style the tab buttons */
.navn_header {
  background-color: #555;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navn_header>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.hembre #divLinks {
  display: none;
}

.link {
  background-color: #555;
  color: white;
  border: none;
  outline: none;
  padding: 24px 60px;
}

/* Change background color of buttons on hover */
.link:hover {
  background-color: #777;
}


/* Style each tab content individually */
.tekst_om {
  margin-bottom: 50px;
}


#vunnet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  background-color: #f0fff0;
  color: black;
  margin-left:25%;
  margin-right: 25%;
  padding: 1%;
  font-size: var(--font-size);
}

#gold {
  color: #e68a00;
}

#silver {
  color: silver;
}

#bronze {
  color: #ba3b09;
}

#alle_utovere>div {
  padding: 0 2%;
  height: 600px;
  scroll-snap-align: center;
}

#alle_utovere {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  height: 600px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  text-align: left;
  -webkit-overflow-scrolling: touch
}

.hembre img,
#person_bilder img {
  padding: 0;
  margin: 0;
  margin: auto;
  width: 100%;
}

.hembre {
  margin: auto;
  display: grid;
  width: 96%;
  grid-template-columns: 1fr 1fr 1fr;
}

.hembre:nth-child(2n) {
  background-color: #ffcc99;
}

.hembre:nth-child(2n-1) {
  background-color: #ffb366;
}

/*
.hembre:nth-child(3n) {
  background-color: #ff9933;
}

.hembre:nth-child(4n) {
  background-color: #ff8000;
}
.hembre:nth-child(5n) {
  background-color: #ff7000;
} */
.hembre a {
  display: block;
}

.hembre>* {
  margin: auto;
}

.hembre>*>* {
  margin: 10px;
}

#alle_utovere::-webkit-scrollbar {
  width: 8px;
}

#alle_utovere::-webkit-scrollbar-track {
  background: var(--background-color);
}

#alle_utovere::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

#alle_utovere::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#bare_team {
  background-color: var(--button-color);
  padding: 20px 50px;
}

#bilder_team>div>img {
  width: 80%;
  height: 80%;
  display: block;
  margin: auto;
}

.bilde_info {
  background-color: white;
  text-align: center;
  padding: 10px 0px;
  width: 80%;
  display: block;
  margin: auto;
  box-shadow: 0px 2px 8px 4px;
}

#bilder_team {
  margin: 30px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*
SLUTT OM OSS:
*/

/*
SKYTER UNDERSIDENE:
*/
#person_side_top {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#familyDiv {
  margin: auto;
}

#person_bilder>img {
  width: 90%;
  border-radius: 10px;
}

#dp_meny {
  background-color: inherit;
  border-color: black;
  padding: 8px;
  font-size: var(--font-size-small);
  text-align: center;
  max-width: 100%;
}

#shooter h1{
  text-align: center;
  font-size: var(--font-size-large);
  margin-top: 0;
}

#medlemskap {
  text-decoration: underline;
}

#person_rekorder {
  /* background-color: #ff8080; */
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 15px;
  border-collapse: collapse;
  border-radius: 10px;
}

td:first-child,
th:first-child {
  text-align: left;
}

th,
td {
  padding: 5px;
}

th,
#merit i {
  border-bottom: dashed 1px var(--text-color);
}

#personer_underliggende_bilder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}

#person_bilder_vid>img {
  width: 10%;
  height: 50px;
  display: block;
  margin: auto;
}

#person_video>video {
  display: block;
  margin: auto;
}

#merit {
  margin-bottom: 10px;
}

#merit>* {
  margin: 5px;
}

#merit,
td {
  border-bottom: 1px solid var(--text-color);
}

#familyDiv a {
  display: block;
}

#familyType>p {
  display: inline;
}

#familyType {
  margin-top: 20px;
}

#familyType:first-child {
  margin-top: 0;
}

/*
SLUTT UNDERSKYTESIDER
*/
/*
START KONTAKT OSS
*/

#formContainer {
  background-color: var(--element-background);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2%;
}

#contactForm{
  width: 100%;
}

#contactForm input, #contactForm label, #contactForm textarea{
  font-size: var(--font-size);
}
#contactForm input, #contactForm textarea{
  padding: 10px;
  width: 100%;
  border: 2px solid var(--border-color);
}


.gridElement {
  margin: auto;
  width: 60%;
}


#f_submit>button {
  background-color: var(--button-color);
  width: 80%;
  border: none;
  border-radius: 5px;
  font-size: var(--font-size);
  margin: auto;
  margin-top: 20px;
}
.subFolder {
  display: flex;
}

.subContainers {
  width: 50%;
  height: 300px;
  background-color: var(--element-background);
  text-align: center;
}

#infoContainer>img {
  width: 18vh;
  display: block;
  margin: auto;
}

#infoContainer>h4 {
  margin-top: 0px;
}

/*
SLUTT KONTAKT OSS
*/
/*
START SPONSOR
*/
.main_sponsor *{
  text-align: center;
}
.main_sponsor > *{
  margin-left: auto;
  margin-right: auto;
}
.main_sponsor p {
  margin: auto;
}

.spons-grid-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.spons-grid-one .spons {
  margin: auto;
  height: 100%;
  width: 100%;
}

.spons_navn {
  padding-top: 20px;
  font-size: var(--font-size);
}

.kryss_farge_1 {
  background-color: #a0e6ff;
}

.kryss_farge_2 {
  background-color: #eeaf93;
}

.spons .logo_liten {
  width: 40%;
  height: 50%;
  margin-left: 30%;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-duration: 0.5s;
  margin: auto;
}

.logo_liten:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.5s;
}



.spons .pil {
  height: 20%;
  width: 20%;
  margin: auto;
}

.fyll {
  position: relative;
  bottom: 20%;

  height: 100px;
  width: 150px;
  background-color:var(--element-background);
  border-radius: 2000px;
  margin: auto;
}

.fyll p {
  padding-top: 30px;
}

.spons-grid-one .fyll {
  margin-top: 20%;
}

.spons-grid-two {
  width: 70%;
}

.spons_click {
  background-color: var(--button-color);
  border-radius: 5px;
  width: 50%;
}

.spons-grid-two>div {
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

.spons-grid-two .spons img {
  margin-left: 5%;
  width: 70%;
  padding-bottom: 15px;
}

.spons-grid-two .spons {
  height: 100%;
}

@media only screen and (min-width: 1600px) {
  .main_sponsor {
    width: 900px;
  }
}

/*
  START FOOTER
  */
footer {
  /* margin-top: 20px; */
  background-color: var(--nav-color);
  box-shadow: 0px 0px 5px rgba(10,10,80,0.5);
}


footer a {
  display: block;
}



.footer-container-one {
  grid-template-columns: repeat(6, 1fr);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1% 5%;
  border-bottom: var(--secondary-teks-color) 0.4px solid;
  text-align: left;
}


.footer-container-one ul li a {
  text-decoration: none;
  color: var(--secondary-teks-color);
  font-size: var(--font-size-small);
  padding-top: 3px;
}

.footer-container-one ul li {
  list-style-type: none;
}

.footer-container-one ul li p a {
  font-size: var(--font-size);
  font-weight: bold;
}

.footer-container-two {
  margin: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20%;
  margin-bottom: 0px;
  padding: 10px;
}
.contact>p{
  padding: 5px;
}
.nasjonalStat{
  padding: 25px;
  text-decoration: underline;
  text-align: center;
}


p {
  margin: 0;
}

.footer-container-two>div {
  font-size: var(--font-size-small);
  border: solid 1px var(--secondary-teks-color);
  background-color: var(--button-color);
  color: var(--text-color);

}

.footer-container-two>div>a {
  color: var(--text-color);
  text-decoration: none;
  margin: auto;
}

#footer_contact {
  text-align: center;
  margin-right: 40px;
  padding: 10px;
  background-color: var(--button-color);
  border-radius: 20px;
}
#footer_contact>a{
  color: var(--text-color);
}
/*
SLUTT FOOTER
*/
/*
START NYHETER
*/

#news-container {
  background-color: #555;
  padding: 20px;
}

#news-container > *{
  width: 90%;
  margin: 0 auto 5% auto;
}
#news-site-headline {
  font-size: var(--font-size-large);
  padding: 3%;
  text-align: center;
  background-color: var(--element-background);
  border: 3px solid var(--border-color);
}
.news-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.news-div .ancor:target {
  position: absolute;
  top: -50px;
}

#news-img {
  display: block;
  width: 90%;
  padding: 5%;
}

#textbox {
  font-size: var(--font-size);
}

#textbox>h2 {
  font-size: var(--font-size-large);
}

/*SLUTT NYHETER*/



#person_side_top {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#person_side_info>* {
  margin: 10px;
  text-align: left;
}

#shooter #medlemskap {
  text-decoration: underline;
}

#person_rekorder {
  /* background-color: #ff8080; */
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 15px;
  border-collapse: collapse;
  border-radius: 10px;
}

#personal-records td:first-child,
#personal-records th:first-child {
  text-align: left;
}

#personal-records th,
#personal-records td {
  padding: 5px;
}

#personal-records th,
#merit i {
  border-bottom: dashed 1px var(--text-color);
}

#shooter #personer_underliggende_bilder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}

#shooter #person_bilder_vid>img {
  width: 10%;
  height: 50px;
  display: block;
  margin: auto;
}

#shooter #person_video>video {
  display: block;
  margin: auto;
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid;
  /* creates padding around scroll thumb */
}

#grid_container_stats {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid var(--text-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 30px;
}

#grid_container_stats>* {
  margin: 0 auto 10px auto;
}

#shooter #merit {
  margin-bottom: 10px;
}

#shooter #merit>* {
  margin: 5px;
}

#shooter #merit,
#shooter td {
  border-bottom: 1px solid var(--text-color);
}


#shooter #familyDiv a,
#shooter #divLinks a {
  display: block;
}

#shooter #familyType>p {
  margin: 0;
  display: inline;
}

#shooter #familyType {
  margin-top: 20px;
}

#shooter #familyType:first-child {
  margin-top: 0;
}










/*
START RESPONSIVE MEDIAQUERYS--------------------------------------------------------------------------
*/
/*css for hele body når den er større enn 600px starter under her*/
@media only screen and (max-width: 1200px) {

  #alle_utovere>div>img {
    display: none;
  }
  .hembre{
    grid-template-columns: 1fr 1fr;
  }

  #alle_utovere>div {
    font-size: var(--font-size-small);
  }


  #contactForm input, #contactForm label, #contactForm textarea{
    font-size: var(--font-size-small);
  }
  #header_om_oss{
    height: 80vh;
  }
  .knapp_header{
    display: none;
  }
  #vunnet *{
    font-size: var(--font-size-small);
  }
}

@media only screen and (max-width: 1000px) {
  #textbox {
    font-size: var(--font-size-small);
  }

  #textbox>h2 {
    font-size: var(--font-size);
  }

  .news-div {
    grid-template-columns: 1fr;
  }
  #navbar{
    font-size: var(--font-size);
    height: 8vh;
  }
  .submenu, #navbar{
    font-size: var(--font-size);
  }
  .navBarElement:not(:last-child)>a::before{
    height: 2px;
  }
}

@media only screen and (max-width: 900px) {

#header_om_oss {
    background-image: none;
    height:auto;
  }
.header_overst{
    display:none;
  }


  .footer-container-one>ul {
    display: none;
  }

  .footer-container-one>div {
    margin: auto;
  }

  .footer-container-one {
    grid-template-columns: repeat(5, 1fr);
  }

  #center {
    grid-row: 1;
  }

  .sponsor img {
    width: 74%;
  }

  .grid-container-athletes {
    grid-gap: 5px;
  }

  .grid-container-hjem {
    grid-template-columns: 1fr;

  }

  #person_side_top{
    grid-template-columns: 1fr 1fr;
  }
  #familyDiv {
    display: none;
  }

  #alle_utovere>.hembre{
    grid-template-columns: 1fr;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
  }

}

@media only screen and (max-width: 610px) {
  #navbar, .submenu{
    font-size: var(--font-size-xsmall)
  }
  #navbar{
    height: 6vh;
  }
  .navBarElement{
    padding-top: 15px;
  }
  .navBarElement:not(:last-child)>a::before{
    height: 1px;
  }
  .footer-container-one {
    display: grid;
    grid-template-columns: 1fr
  }

  .footer-container-one>div {
    margin: auto;
  }

  .logo_footer {
    display: block;
    height: 200px;
    padding-left: 20px;
  }

 #shooter>* {
    grid-template-columns: 1fr;
  }

  #shooter>*>* {
    margin: auto;
  }

    #alle_utovere {
      height: 51vh;
    }

    #alle_utovere>div {
      padding: 10px;
      height: 50vh;
    }

    #person_side_info {
      margin-top: 20px;
    }

    #person_side_info>* {
      margin-bottom: 15px;
    }
    #bilder_team {
      display: none;
    }
    #vunnet{
      display: none;
    }

    .hembre #dp_meny{
      display: none;
    }
    .main_sponsor .spons-grid-one .tom {
      display: none;
    }

    .main_sponsor .spons-grid-one {
      grid-template-columns: 1fr;
    }

    .main_sponsor .spons-grid-container {
      display: grid;
      grid-template-columns: 1fr;
    }

}

@media (max-width: 405px) {
  #navbar, .submenu{
    font-size: var(--font-size-xxsmall)
  }
  #navbar{
    height: 4vh;
  }
  .navBarElement{
    padding-top: 10px;
  }
  .logo_nav>a>img{
    width: 100%;
  }
  /*Small smartphones [325px -> 425px]*/
  .grid-container-athletes {
    grid-template-columns: 1fr;
  }

  .footer-container-two {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .footer-container-two>p {
    display: none;
  }

  #f_fornavn>input, #f_etternavn>input, .gridElement>label {
    font-size: var(--font-size-xsmall);
  }
  .hembre p {
    font-size:var(--font-size-xsmall);
  }

  #person_side_info {
    margin-top: 20px;
    padding-right: 5px;
  }

  #person_side_info>* {
    margin-bottom: 15px;
  }

  .slideshow-container {
    height: 50vw;
  }

  #oxford>.logo_liten, #bakkevold>.logo_liten {
    height: 30%;
  }
}

/*
SLUTT RESPONSIVE MEDIAQUERYS
*/
