html {
  scroll-behavior: smooth;
}

/*css for hele body når den er større enn 600px starter under her*/
@media only screen and (min-width: 600px) {
  body {
    /*gjør slik at det ikke er noe avstand mellom body og det som er utenfor*/
    margin: 0px;
    top: 0px;
  }
}
:root {
    --background-color: #D3EBEB;
    --background-color: #ADC3C3;
    --background-color: #C9D3D3;
    --nav-color: #E8FFFF;
    --element-background: #C4C4C4;
    --element-background: #D1D1D1;
    --text-color: #000;
    --background-text-color: none;
    --secondary-teks-color: #F2F2F2;
    --secondary-background-color: #000000BF;
    --button-color: #F2994A;
    --font-size-large: 25pt;
    --font-size: 15pt;
    --font-size-small: 10pt;
}

main{
  font-family: "Arial","Times new roman", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 90%;
  margin: auto;
  font-size: var(--font-size);
  margin: 10% auto;
}


/*css for hele delen over søkemotoren av header når den er større enn 600px starter under her*/
.header_øverst {
  text-align: center;
  /* styler tekst*/
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  height: 755px;
}

.knapp_header>a {
  color: white;
  font-size: 25px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  padding: 12px 28px;
  font-style: monospace;
  text-decoration: none;
}
@media only screen and (max-height: 660px) {
  .knapp_header {
display: none;
  }
}
.knapp_header>a:hover {
  transition: all 0.4s ease-in-out;
  border-color: #022c70;
}

.logo {
  padding-top: 20px;
  text-align: center;
  margin: 10% 20%;
  margin-top: 0px;

}

.header_over_mitt_navn {
  color: white;
  margin-top: 140px;
  padding: 10px;
  font-size: 40px;
  background-color: black;
}
.logo>img{
  width: 30%;
}
.hele_følg_meg {
  position: relative;
  display: flex;
  padding-top: 30px;
  float: right;
  margin-right: 15px;
}

.følg_meg {
  font-size: 16px;
  color: white;
  font-family: fantasy;
}

.fa {
  font-size: 30px;
  width: 30px;
  text-align: right;
  text-decoration: none;
  border-radius: 90%;
  float: right;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.5;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  color: white;
}

.logo>img:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
}

#bilder_team>div{
  transform:scale(1);
  transition-duration: 0.4s;
}


#bilder_team>div:hover{
  transform:scale(1.2);
  transition-duration: 0.5s;
}

#header_om_oss {
  background-image: url(bilder/om6.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  position: relative;
}

/* Style the tab buttons */
.navn_header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.link {
  background-color: #555;
  color: white;
  float: left;
  cursor: pointer;
  padding: 24px 16px;
  margin-top: 0px;
  font-size: 17px;
  width: 25%;
  bottom: 0px;
  position: absolute;
}

/* Change background color of buttons on hover */
.link:hover {
  background-color: #777;
}


h1 {
  font-size: 3vw;
}

/* Style each tab content individually */

.tekst_om {
  margin-bottom: 50px;
}

:root {
  --background-color: #C9D3D3;
  --nav-color: #E8FFFF;
  --element-background: #C4C4C4;
  --text-color: #000;
  --background-text-color: none;
  --secondary-teks-color: #F2F2F2;
  --secondary-background-teks-color: #000000BF;
  --button-color: #0D0C0C;
}

main {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 90%;
  margin: auto;
  margin-top: 20ch;
  /*TEMPORARY*/
}

#vunnet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  background-color: #F0FFF0;
  color: black;
  margin: 5% 25%;
  padding: 1%;
}

#gull>h1{
  color: #e68a00;
}
#ol-deltat>h1{
  color: red;
}
#norge_rekorder>h1{
  color: blue;
}


#alle_spillere>div>h2{
  padding-top: 30px;
}

#alle_spillere>div {
  padding: 70px 250px;
  height: 60vh;
  scroll-snap-align: center;
}

#alle_spillere{
  background-color: #FFAF37;
  margin: 5%;
  margin-top: 20px;
  height: 70vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  text-align: left;
}
@media only screen and (max-width: 1200px) {
  #pal_info>ul>li{
    font-size: 1.5vw;
  }
#alle_spillere>div>div>img{
  width: 150px;
  height: 250px;
}
}
#bare_team {
  background-color: #FFAF37;
  margin: 5%;
  margin-bottom: 0px;
padding: 20px 50px;
text-align: center;

}

#bilder_team>div>img{
  width: 80%;
  height: 80%;
  display: block;
  margin:auto;
}

.bilde_info{
  background-color: white;
  text-align: center;
  padding: 10px 0px;
  width: 80%;
  display: block;
  margin:auto;
  box-shadow: 0px 2px 8px 4px;
}

#pal_info>ul{
  list-style-type: none;
  font-size: 22px;
  margin:0px;
}

#pal_bilder{
  display: block;
  margin: auto;
}
#pal_info>ul>li>a, #pal_info>p>a {
color: black;
text-decoration: none;
}
#pal_info>ul>li>a:hover, #pal_info>p>a:hover{
text-decoration:underline;
}
h3>a{
  color: black;
  text-decoration: none;
  padding: 3px;
  border-style:ridge;
  font-size: 1.2vw;
  background-color: lightblue;
  border-color: lightblue;
  border-radius: 2px;
}
h3>a:hover{
  background-color: green;
  border-color: green;
  transition-duration: 1s;

}

#pal_hembre{
  background-color: #ffcc99;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#mattis_hembre{
  background-color: #ffb366;
}
#ludvik_hembre{
  background-color: #ff9933;
}
#tim_leo_hembre{
  background-color: #ff8000
}
#bilder_team{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
