/*
  START FOOTER
  */
  footer {
    /* margin-top: 20px; */
    background-color: var(--nav-color);
    box-shadow: 0px 0px 5px rgba(10,10,80,0.5);
  }


  footer a {
    display: block;
  }



  .footer-container-one {
    grid-template-columns: repeat(6, 1fr);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1% 5%;
    border-bottom: var(--secondary-teks-color) 0.4px solid;
    text-align: left;
  }


  .footer-container-one ul li a {
    text-decoration: none;
    color: var(--secondary-teks-color);
    font-size: var(--font-size-small);
    padding-top: 3px;
  }

  .footer-container-one ul li {
    list-style-type: none;
  }

  .footer-container-one ul li p a {
    font-size: var(--font-size);
    font-weight: bold;
  }

  .footer-container-two {
    margin: 2% 4.5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20%;
    margin-bottom: 0px;
    padding: 10px;
  }
  .contact>p{
    padding: 5px;
  }
  .nationalStat{
    padding: 25px;
    text-decoration: underline;
    text-align: center;
  }
  p {
    margin: 0;
  }

  .footer-container-two>div {
    font-size: var(--font-size-xsmall);
    border: solid 1px var(--secondary-teks-color);
    background-color: var(--button-color);
    color: var(--text-color);


  }

  .footer-container-two>div>a {
    color: var(--text-color);
    text-decoration: none;
    margin: auto;
    font-size: var(--font-size-small)
  }

  #footer_contact {
    text-align: center;
    margin-right: 40px;
    padding: 10px;
    background-color: var(--button-color);
    border-radius: 20px;

  }
  #footer_contact>a{
    color: var(--text-color);
  }
  /*
  SLUTT FOOTER
  */
@media only screen and (max-width: 900px) {
    .footer-container-one>ul {
        display: none;
      }

      .footer-container-one>div {
        margin: auto;
      }

      .footer-container-one {
        grid-template-columns: repeat(5, 1fr);
      }

}

@media only screen and (max-width: 610px) {
    .footer-container-one {
        display: grid;
        grid-template-columns: 1fr
      }

      .footer-container-one>div {
        margin: auto;
      }

      .logo_footer {
        display: block;
        height: 200px;
        padding-left: 20px;
      }

}

@media (max-width: 405px) {
    .footer-container-two {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
      }

      .footer-container-two>p {
        display: none;
      }



}
