#navbar {
  display: flex;
  border: 1px solid black;
  text-align: center;
  background-color: lightblue;
  height: 50px;
  font-family: fantasy;
  font-size: 30px;
}

.navBarElement {
  width: 25%;
  transition: 0.5s;
}

.navBarElement:hover {
  background-color: lightgray;
}

#submenu_1,
#submenu_2 {
  display: none;
}

.submenu {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  text-align: center;
  background-color: lightblue;
  font-family: fantasy;
  font-size: 30px;
  width: 20%;
  position: absolute;
  transition: 0.2s;
}

.submenuElement_1:hover,
.submenuElement_2:hover {
  background-color: lightgray;
}

a {
  text-decoration: none;
  color: black;
}

#kontaktKnapp {
  border-radius: 0px;
  background-color: orange;
  border: 0px;
  width: 50%;
  height: 50%;
}
